{{ include layout/header }}

<h1>{{= title }}</h1>
<p> Welcome to {{= title }}</p>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../javascripts/trace.js"></script>

{{ include layout/footer }}